.campaign-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.campaign-title {
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.campaign-info {
    color: #ffffff;
}

.campaign-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px; /* Jarak antar item kampanye */
    overflow-y: auto;
    max-height: 600px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.campaign-item {
    background-color: #e21bb7;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.campaign-item:hover {
    transform: scale(1.02);
}

.campaign-item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.campaign-item-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #f8d7d7;
}

.campaign-item-description {
    font-size: 1rem;
    color: #666;
    flex-grow: 1;
}

.campaign-item-meta {
    font-size: 0.9rem;
    color: #ffe9e9;
    margin-top: 10px;
}

.campaign-raised {
    font-size: 1rem;
    color: #ffffff; /* Mengubah warna teks menjadi putih */
    margin-top: 10px; /* Jeda antara elemen di bawah */
}

.campaign-progress {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
    margin-top: 15px;
}

.progress-bar {
    height: 100%;
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
}

.progress-text {
    font-size: 0.9rem;
    color: #ffffff;
    margin-top: 5px;
    text-align: right;
}

.campaign-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d5006d;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    align-self: flex-start;
}

.campaign-button:hover {
    background-color: #b0003a;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
/* Media Queries untuk Responsif */
@media (max-width: 768px) {
    .campaign-title {
        font-size: 2rem; /* Ukuran judul lebih kecil di mobile */
    }

    .campaign-item-title {
        font-size: 1.25rem; /* Ukuran judul item lebih kecil di mobile */
    }

    .campaign-item-description {
        font-size: 0.9rem; /* Ukuran deskripsi lebih kecil di mobile */
    }

    .campaign-raised {
        font-size: 0.9rem; /* Ukuran raised lebih kecil di mobile */
    }

    .progress-text {
        font-size: 0.8rem; /* Ukuran progress text lebih kecil di mobile */
    }

    .campaign-button {
        padding: 8px 16px; /* Padding button lebih kecil di mobile */
    }
}
